<div class="container">
    <a id="gridViewSelect" href="#">Grid View</a>
    <a id="listViewSelect" href="#">List View</a>
    
    <div id="gridView">
        <!-- Page 1 Content -->
        <div class="page-content page-1">
            <div class="row">
                <p>Page 1</p>
                <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
                <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
            </div>
        </div>
    
        <!-- Page 2 Content -->
        <div class="page-content page-2 d-none">
            <div class="row">
                <p>Page 2</p>
                <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
                <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
            </div>
        </div>
    
        <!-- Page 3 Content -->
        <div class="page-content page-3 d-none">
            <div class="row">
                <p>Page 3</p>
                <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
                <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
            </div>
        </div>
    
    
        <nav aria-label="Page navigation">
            <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" data-page="1">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" data-page="2">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" data-page="3">3</a>
            </li>
            </ul>
        </nav>
    </div>
    
    <div id="listView" class="d-none">
        <%- include('list_item', { isSimple: true }) %>
        <div class="page-content page-1">
            <p>Page 1</p>
            <%- include('list_item', { isSimple: true }) %>
            <%- include('list_item', { isSimple: true }) %>
        </div>
    
        <div class="page-content page-2 d-none">
            <p>Page 2</p>
            <%- include('list_item', { isSimple: true }) %>
            <%- include('list_item', { isSimple: true }) %>
        </div>
    
        <div class="page-content page-3 d-none">
            <p>Page 3</p>
            <%- include('list_item', { isSimple: true }) %>
            <%- include('list_item', { isSimple: true }) %>
        </div>
    
    
        <nav aria-label="Page navigation">
            <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" data-page="1">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" data-page="2">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" data-page="3">3</a>
            </li>
            </ul>
        </nav>
    </div>
</div>
    