<div class="container-fluid">
    <a id="gridViewSelect" href="#">Grid View</a>
    <a id="listViewSelect" href="#">List View</a>
    
    <!-- Grid View -->
    <div id="gridView" class="row">
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <div class="col-6 col-lg-4 col-xl-3"><%- include('card') %></div>
        <!-- Add more divs as needed -->
    </div>

    <!-- List View -->
    <div id="listView" class="d-none">
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <%- include('list-item') %>
        <!-- Add more divs as needed -->
    </div>
</div>