<div class="list-item border rounded shadow-sm mb-3 <%= isSimple ? 'simple' : '' %>">
    <div class="row">
    
        <!-- Book Card -->
        <div class="card <%= isSimple ? 'col-1' : 'col-2' %> p-0">
            <!-- Image as Background -->
            <img class="card-img-top object-fit-cover w-100" src="<%= book.image_url %>">

            <% if (!isSimple) { %>
                <div class="card-body d-flex justify-content-center align-items-end p-2">
                    <%- include('add_list', { isSimple: isSimple }) %>
                </div>
            <% } %>
        </div>
        <!-- Book Info -->
        <div class="<%= isSimple ? 'col-11' : 'col-10' %>">
        <div class="d-inline-flex w-100 <%= isSimple ? '' : 'h-25 border-bottom' %>  justify-content-around align-items-center pt-2">
            <div class="pt-2">
                <h5 class="fw-bold"><%= book.title %></h5>
                <p class="text-muted">by <%= book.author_name %></p>
            </div>
            <div class="text-end pt-1">
                <div>
                    <span class="fw-bold d-inline "><%= book.rating %></span>
                    <%- include('rating_display', { star_value: book.rating }) %>
                </div>
                <small class="text-muted ms-1"><%= book.total_ratings %> ratings</small>
            </div>
            <% if (isSimple) { %>
                <%- include('add_list') %>
            <% } %>
        </div>
        <% if (!isSimple) { %>
            <div class="h-75 overflow-hidden d-flex">
                <p class="mt-2 text-muted text-wrap truncate" truncate="800">
                    <%= book.description %>
                </p>
            </div>
        <% } %>
        </div>

        

    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        function truncateText(selector) {
            document.querySelectorAll(selector).forEach(el => {
                let maxLength = el.getAttribute('truncate');
                let text = el.textContent.trim();
                if (text.length > maxLength) {
                    el.textContent = text.slice(0, maxLength) + '...';
                }
            });
        }

        truncateText(".truncate");
    });
</script>
