<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>
<div id="content">
<main class="bg-white">
    <div id="book-card" class="d-flex flex-column align-items-center ps-5 pt-5 gap-3">
        <img src=<%= book.image_url %> style="width: 18rem; height: 24rem;">
        <% if (typeof book_state != 'undefined') { %>
            <% if (book_state.state == 'Read' || book_state.state == 'Abandoned') { %>
                <div class="text-center">
                    <%- include('includes/rating_form', { review: user_review }) %>
                    <% if (typeof user_review == 'undefined') { %> <strong>Rate this book</strong> <% } %>
                </div>
                <a id="reviewModalBtn" class="btn btn-primary modalBtn" style="width: 12rem;" href="#reviewModal"><%= (typeof user_review == 'undefined') ? 'Write a review':'Edit your review' %></a>
                <% if (typeof user_review != 'undefined') { %>
                    <button id="deleteReviewBtn" class="btn btn-danger" style="width: 12rem;">Delete your review</button>
                <% } %>
            <% } %>
        <% } %>
        <%- include('includes/add_list', { isSmall: false }) %>
    </div>
    <div id="book-info" class="px-5 py-4">
        <% if (book.series_id) { %>
            <a href="<%= series_url %>"><i><%= book.series_name %>, #<%= book.series_number %></i></a>
        <% } %>
        <h1><%= book.title %></h1>
        <% if (book.author_id) { %>
            <a href="<%= author_url %>"><i><%= book.author_name %></i></a>
        <% } %>
        <div class="d-flex gap-4 align-items-center">
        <small><%= book.num_pages %> pages | <%= book.formattedDate %></small>
        </div>
        <div class="d-flex gap-5 my-3 align-items-center">
        <%- include('includes/rating_display', { isBig: true, star_value: book.rating }) %>
        <h2><%= book.rating %></h2>
        <small><%= book.total_ratings %> ratings</small>
        </div>
        <p><%= book.description %></p>
        <%- include('includes/rating_per_stars', { total_ratings: book.total_ratings, ratings_per_star: book.ratings_per_star }) %>
        <% if (similar_books.length > 0 ) { %>
            <h2 class="mt-4">Similar Books</h2>
            <div class="container overflow-auto bg-light rounded shadow-sm p-3">
                <div class="row flex-row flex-nowrap">
                    <% similar_books.forEach(book => { %>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <a href="/book/view/<%= book.book_id %>">
                                <img src="<%= book.image_url %>" style="width: 15rem; height: 20rem;">
                            </a>
                        </div>
                    <% }); %>
                </div>
            </div>
        <% } %>
        <% if (reviews.length > 0 ) { %>
            <h2 class="mt-5 mb-4">Reviews</h2>
            <div class="container-fluid d-flex flex-column gap-4">
                <% reviews.forEach(review => { %>
                    <%- include('includes/review', { review: review }) %>
                <% }); %>
            </div>
        <% } %>
    </div>
    
    <%- include('includes/modals/review', { review: user_review, book: book }) %>
    
</main>
</div>
<script>
    document.getElementById('deleteReviewBtn').addEventListener('click', async () => {
        try {
            const response = await fetch("/reviews/delete/<%= user_review._id %>", {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (!response.ok) {
                const errorDetails = await response.json();
                console.error('Error creating review:', errorDetails);
                throw new Error(errorDetails.message || 'Failed to create review.');
            }

            window.location.reload();
        } catch (error) {
            console.log(error);
        }
    });
</script>
<script src="/assets/js/collapsable.js"></script>
<script src="/assets/js/links.js"></script>
<script src="/assets/js/modal.js"></script>
</body>
</html>