<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>
<div id="content">
<main class="bg-white">
    <div id="book-card" class="d-flex flex-column align-items-center ps-5 pt-5 gap-3">
        <img src=<%= book.image_url %> style="width: 18rem;">
        <div class="text-center">
        <%- include('includes/rating_form') %>
        <strong>Rate this book</strong>
        </div>
        <a id="reviewModalBtn" class="btn btn-primary modalBtn" href="#reviewModal">
            Write a review
        </a>
    </div>
    <div id="book-info" class="px-5 py-4">
        <% if (book.series_id) { %>
            <a href="<%= series_url %>"><i><%= book.series_name %>, #<%= book.series_number %></i></a>
        <% } %>
        <h1><%= book.title %></h1>
        <% if (book.author_id) { %>
            <a href="<%= author_url %>"><i><%= book.author_name %></i></a>
        <% } %>
        <div class="d-flex gap-4 align-items-center">
        <small><%= book.num_pages %> pages | <%= book.formattedDate %></small>
        </div>
        <div class="d-flex gap-5 my-3 align-items-center">
        <%- include('includes/rating_display', { isBig: true, star_value: book.rating }) %>
        <h2><%= book.rating %></h2>
        <small><%= book.total_ratings %> ratings</small>
        </div>
        <p><%= book.description %></p>
        <%- include('includes/rating_per_stars', { total_ratings: book.total_ratings, ratings_per_star: book.ratings_per_star }) %>
        <h2 class="mt-5 mb-4">Reviews</h2>
        <div class="container-fluid d-flex flex-column gap-4">
             <%- include('includes/review') %>
             <%- include('includes/review') %>
        </div>
    </div>
    <%- include('includes/modals/progress') %>
    <%- include('includes/modals/review') %>
</main>
</div>
<script src="/assets/js/collapsable.js"></script>
<script src="/assets/js/links.js"></script>
<script src="/assets/js/modal.js"></script>
</body>
</html>