<%- include('includes/head') %>
<body class="sb-expanded">
<%- include('includes/nav') %>
<div id="content">
<%- include('includes/sidebar') %>
<main>
  <div class="container horizontal-scrollable">
    <h2>Recent</h2>
    <div class="row flex-row flex-nowrap">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <%- include('includes/card') %>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <%- include('includes/card') %>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <%- include('includes/card') %>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <%- include('includes/card') %>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <%- include('includes/card') %>
        </div>
       <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <%- include('includes/card') %>
        </div>
    </div>
  </div>
  <h2>Activity</h2>
  <div class="container-fluid">
    <div class="w-100">
      <div class="d-flex">
        <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
        />
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
      </div>
      <div class="d-flex">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum tincidunt libero eu sollicitudin. Maecenas sollicitudin, dolor id laoreet ultrices, diam urna ornare nibh, ac auctor sem justo non diam. Sed sed gravida tellus. Suspendisse potenti. Nulla tincidunt blandit sodales. Phasellus tellus lorem, condimentum ac enim egestas, consectetur efficitur dui. Aenean et accumsan sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis risus magna, a placerat arcu tincidunt luctus. In rutrum mi pulvinar, pretium ligula at, consectetur eros. Mauris et dignissim massa, in tempor purus. Proin lorem dui, condimentum ac fringilla sed, sollicitudin ornare metus.</span>
      </div>
    </div>
    <div class="w-100">
      <div class="d-flex">
        <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
        />
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
      </div>
      <div class="d-flex">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum tincidunt libero eu sollicitudin. Maecenas sollicitudin, dolor id laoreet ultrices, diam urna ornare nibh, ac auctor sem justo non diam. Sed sed gravida tellus. Suspendisse potenti. Nulla tincidunt blandit sodales. Phasellus tellus lorem, condimentum ac enim egestas, consectetur efficitur dui. Aenean et accumsan sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis risus magna, a placerat arcu tincidunt luctus. In rutrum mi pulvinar, pretium ligula at, consectetur eros. Mauris et dignissim massa, in tempor purus. Proin lorem dui, condimentum ac fringilla sed, sollicitudin ornare metus.</span>
      </div>
    </div>
    <div class="w-100">
      <div class="d-flex">
        <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
        />
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
      </div>
      <div class="d-flex">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum tincidunt libero eu sollicitudin. Maecenas sollicitudin, dolor id laoreet ultrices, diam urna ornare nibh, ac auctor sem justo non diam. Sed sed gravida tellus. Suspendisse potenti. Nulla tincidunt blandit sodales. Phasellus tellus lorem, condimentum ac enim egestas, consectetur efficitur dui. Aenean et accumsan sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis risus magna, a placerat arcu tincidunt luctus. In rutrum mi pulvinar, pretium ligula at, consectetur eros. Mauris et dignissim massa, in tempor purus. Proin lorem dui, condimentum ac fringilla sed, sollicitudin ornare metus.</span>
      </div>
    </div>
  </div>
  <%- include('includes/modals/progress') %>
</main>
</div>
<%- include('includes/footer') %>