<%- include('includes/head') %>
<body class="sb-expanded sb-toggle">
<%- include('includes/nav') %>
<div id="content" class="grey-bg">
<%- include('includes/sidebars/home') %>
<main class="px-5 py-4">
  <h2>Currently Reading</h2>
  <div class="container overflow-auto bg-light rounded shadow-sm p-3">
    <div class="row flex-row flex-nowrap">
        <% if (reading.length > 0) { %>
            <% reading.forEach(data => { %>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <%- include('includes/card', { data: data }) %>
                    <%- include('includes/modals/progress', { data: data }) %>
                </div>
                <% }) %>
                <% } else { %>
                    <div class="alert alert-primary m-0" role="alert">
                It seems you are not reading any book right now
            </div>
            <% } %>
        </div>
    </div>
    
    <%- include('includes/feed.ejs', { feed: feed }) %>
</main>
</div>
<script src="/assets/js/collapsable.js"></script>
<script src="/assets/js/links.js"></script>
<script src="/assets/js/sidebar.js"></script>
<script src="/assets/js/stars.js"></script>
</body>
</html>