<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>
<div id="content">
<main>
    <% if (typeof data != 'undefined') { %>
        <div class="d-flex align-items-center">
            <div>
                <h1><%= data.name || '' %></h1>
                <small><%= data.number_of_books || '' %> works</small>
                <p><%= data.description || '' %></p>
            </div>
            <% if (data.image_url) { %>
                <img src="<%= data.image_url %>" class="object-fit-cover img-sm">
            <% } %>
        </div>
    <% } if (typeof genre != 'undefined') { %>
        <h1 class="d-flex justify-content-center" ><%= genre %></h1>
    <% } if (typeof bookshelf != 'undefined') { %>
        <h1 class="d-flex justify-content-center" ><%= bookshelf.name %></h1>
    <% }  %> 
    <%- include('includes/gallery', { isSimple: false, books: books }) %>
</main>    
</div>
<script src="/assets/js/links.js"></script>
<script src="/assets/js/gallery.js"></script>
<script src="/assets/js/stars.js"></script>
</body>
</html>