<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>
<div id="content">
<main>
    <!-- <h1><%= data.name %></h1>
    <small><%= data.number_of_books %> works</small>
    <p><%= data.description %></p> -->
    <%- include('includes/gallery', { isSimple: false }) %>
</main>
</div>
<script src="/assets/js/links.js"></script>
<script src="/assets/js/gallery.js"></script>
<script src="/assets/js/stars.js"></script>
</body>
</html>