<%- include('includes/head') %>
<body class="sb-expanded" data-user="<%= user %>">
<%- include('includes/nav') %>
<div id="content">
<%- include('includes/sidebars/profile') %>
<main> 
    <div id="tabDiv">
        <div id="profile-nav" class="d-flex align-items-center bg-light border">
            <img
                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                class="icon-sm rounded-circle nav-id ms-2"
            />
            <h3 class="ms-2 me-5 mb-0 nav-id">Username</h3>
            <ul class="nav nav-tabs align-self-end">
                <li class="nav-item">
                  <a class="nav-link active sb-expanded custom" target-selector=".tab.profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target-selector=".tab.shelf">Bookshelves</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target-selector=".tab.reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target-selector=".tab.social">Following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target-selector=".tab.followers">Followers</a>
                </li>
            </ul>
        </div>
        <%- include('includes/tabs/profile') %>
        <%- include('includes/tabs/shelf') %>
        <%- include('includes/tabs/reviews') %>
        <div id="tabFollowing" class="d-none tab following bg-white">
        <%- include('includes/tabs/social') %>
        </div>
        <div id="tabFollowers" class="d-none tab followers bg-white">
        <%- include('includes/tabs/social') %>
        </div>
        <%- include('includes/modals/progress') %>
    </div>
    
</main>
</div>
<%- include('includes/footer') %>