<%- include('includes/head') %>
<body class="sb-expanded" data-user="<%= profile._id %>" data-current_tab="<%= current_tab %>">
<%- include('includes/nav') %>
<div id="content">
<%- include('includes/sidebars/profile') %>
<main> 
    <div id="tabDiv">
        <div id="profile-nav" class="d-flex align-items-center bg-light border">
            <img
                src="<%= profile.image_url %>"
                class="icon-sm rounded-circle nav-id ms-2"
            />
            <h3 class="ms-2 me-5 mb-0 nav-id"><%= profile.username %></h3>
            <ul class="nav nav-tabs align-self-end">
                <li class="nav-item">
                  <a id="tab-profile" class="nav-link sb-expanded custom" target-selector=".tab.profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a id="tab-bookshelves" class="nav-link" target-selector=".tab.shelf">Bookshelves</a>
                </li>
                <li class="nav-item">
                  <a id="tab-reviews" class="nav-link" target-selector=".tab.reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a id="tab-following" class="nav-link" target-selector=".tab.following">Following</a>
                </li>
                <li class="nav-item">
                    <a id="tab-followers" class="nav-link" target-selector=".tab.followers">Followers</a>
                </li>
            </ul>
        </div>
        <%- include('includes/tabs/profile') %>
        <%- include('includes/tabs/shelf') %>
        <%- include('includes/tabs/reviews') %>
        <%- include('includes/tabs/social') %>
        <%- include('includes/modals/progress') %>
    </div>
</main>
</div>
<script src="/assets/js/collapsable.js"></script>
<script src="/assets/js/gallery.js"></script>
<script src="/assets/js/links.js"></script>
<script src="/assets/js/profile_nav.js"></script>
<script src="/assets/js/sidebar.js"></script>
</body>
</html>