<%- include('includes/head') %>
<body class="">
<%- include('includes/nav') %>
<div id="content">
<%- include('includes/sidebar') %>
<main>
    
    <div id="tabInfoDiv">
        <%- include('includes/tabs/profile_info') %>
        <%- include('includes/tabs/shelf_info') %>
        <%- include('includes/tabs/reviews_info') %>
        <%- include('includes/tabs/social_info') %>
    </div>
    <div id="tabDiv">
        <div id="profileNav" class="p-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" target-selector=".tab.profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target-selector=".tab.shelf">Shelf</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target-selector=".tab.reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target-selector=".tab.social">Social</a>
                </li>
            </ul>
        </div>
        <%- include('includes/tabs/profile') %>
        <%- include('includes/tabs/shelf') %>
        <%- include('includes/tabs/reviews') %>
        <%- include('includes/tabs/social') %>
    </div>
    
</main>
</div>
<%- include('includes/footer') %>