<div id="sidebarNav" class="sidebar bg-white shadow">
    <nav>
        <ul>
            <li><a href="/bookstate/view/Currently Reading/<%= profile._id %>">Reading</a></li>
            <li><a href="/bookstate/view/Read/<%= profile._id %>">Read</a></li>
            <li><a href="/bookstate/view/Want to Read/<%= profile._id %>">Wishlist</a></li>
            <% if (bookshelves.length > 0) { %>
                <li>
                    <span>Your bookshelves</span>
                    <ul>
                        <% bookshelves.forEach(bookshelf => { %>
                            <li><a href="/bookshelf/view/<%= bookshelf._id %>"><%= bookshelf.name %></a></li>
                        <% }); %>
                    </ul>
                </li>
            <% } %>
        </ul>
    </nav>
</div>