<div id="sidebarProfile" class="sidebar d-flex flex-column align-items-center gap-2 shadow">
    <img src="<%= profile.image_url %>" class="rounded-circle img-fluid icon-md shadow-lg"
        alt="Black and White Portrait of a Man" loading="lazy" />
    <h2>
        <%= profile.username %>
    </h2>
    <% if (!ownProfile && typeof connection == "undefined") { %>
            <form class="d-flex form-follow" action="/connections" method="POST">
                <input type="hidden" id="id_profile" name="user" value="<%= profile._id %>">
                <input type="hidden" id="id_profile" name="follower" value="<%= user %>">
                <button class="w-100 btn btn-primary d-block" type="submit">Follow</button>
            </form>
        <% } %>
            <div class="w-100 d-flex justify-content-between">
                <small>
                    <%= profile.followers_count %> followers
                </small>
                <small>
                    <%= profile.following_count %> following
                </small>
            </div>
            <div class="w-100 stats bg-light border rounded text-center mt-2">
                <a href="#">READ</a>
                <h5>
                    <%= profile.read_count %>
                </h5>
            </div>
            <div class="w-100 stats bg-light border rounded text-center mt-2">
                <a href="#">READING</a>
                <h5>
                    <%= profile.currently_reading_count %>
                </h5>
            </div>
            <div class="w-100 stats bg-light border rounded text-center mt-2">
                <a href="#">WANT TO READ</a>
                <h5>
                    <%= profile.want_to_read_count %>
                </h5>
            </div>
            <div class="w-100 stats bg-light border rounded text-center mt-2">
                <a href="#">REVIEWS</a>
                <h5>
                    <%= profile.reviews_count %>
                </h5>
            </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        async function handleFollow(event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);
            const jsonData = Object.fromEntries(formData.entries());

            try {
                const response = await fetch(form.action, {
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(jsonData),
                    method: form.method,
                });

                window.location.reload();
            } catch (error) {
                console.error("Erro ao enviar formulário:", error);
            }
        }

        document.querySelector(".form-follow").addEventListener("submit", (event) => handleFollow(event));
    });
</script>